html
  body
    ion-view(view-title='Trailertransport', cache-view="false")
      ion-content.add(has-header='true', padding='true')
        div.card
          div.item.item-text-wrap.item-icon-right.stable-bg
            | Eigenständig durchgeführte Trailertransporte eines Jollenkreuzers, Kielschwerters oder Kielbootes in andere Segelreviere (mind. 150 Km vom Heimathafen)
            i.icon.ion-information-circled.positive

        div.list
          div.item.item-divider Datum, Punkte
          div.item.item-icon-left.item-stacked-label(ion-datetime-picker='true', title='tmp.title', monday-first='true', ng-model='tmp.datetime')
            i.icon.ion-ios-calendar-outline.positive
            {{tmp.datetime| datetime }}
            span.badge.badge-energized 50

          div.item.item-divider Eingaben
          label.item.item-input.item-stacked-label
            span.input-label Notiz
            input(type='text', ng-model='log.comment', placeholder='Notiz hier eingeben')

          button.button.button-full.button-positive(ng-click='save()') Speichern
