html
  body
    ion-view(view-title='Log', cache-view="false")
      ion-nav-buttons(side='left')
        button.button.icon-left.ion-share.button-balanced(ng-click="export()") Export

      ion-content.log(has-header='true', has-tabs='true')
        ion-list
          ion-item(ng-repeat='log in logs', on-touch='touch(log)', on-release='release(log)', on-tap='show(log)')
            div(ng-if='log.isTrack()')
              div.row.dates
                table
                  tr
                    td
                      span.date {{ log.start.timestamp | datetime }}
                    td
                      span.coord {{ log.start.lat | dms_lat0 }}, {{ log.start.long | dms_long0 }}
                  tr(ng-if='log.waypoints.length > 1')
                    td
                      span.date {{ log.destination.timestamp | datetime }}
                    td
                      span.coord {{ log.destination.lat | dms_lat0 }}, {{ log.destination.long | dms_long0 }}

              div.row.qualities
                div.types
                  span.type.positive-bg {{ log | logFeatures }}
                div.numbers
                  span.distance(ng-if="log.type == 'inland'") {{ log.distance_km | float2 }} km
                  span.distance(ng-if="log.type == 'sea'") {{ log.distance_nm | float2 }} nm
                  span.points.badge.badge-energized {{ log.points }}

              div.row.comment.dark {{ log.comment }}

            div(ng-if='!log.isTrack()')
              div.row.dates
                span.date {{ log.start.timestamp | datetime }}
                span.coord {{ log.start.lat | dms_lat0 }}, {{ log.start.long | dms_long0 }}

              div.row.qualities
                div.types
                  span.type.positive-bg {{ log | logFeatures }}
                div.numbers
                  span.points.badge.badge-energized {{ log.points }}

              div.row.comment.dark(ng-if='log.comment') {{ log.comment }}

        div.total
          div.description.dark Total:
          div.points.badge.badge-dark {{ total }}
