html
  body
    ion-view(view-title='Log Details', cache-view="false")
      ion-content.log-details(has-header='true', padding='true')
        div(id='map', data-tap-disabled='true', style="width: 100%; height: 100%")
