html
  body
    ion-tabs.tabs-icon-top.tabs-default.tabs-dark
      ion-tab(title='Aufzeichnen', icon='icon ion-arrow-shrink', href='#/tab/track')
        ion-nav-view(name='track-tab')
      ion-tab(title='Log', icon='icon ion-clipboard', href='#/tab/log')
        ion-nav-view(name='log-tab')
      ion-tab(title='Eintragen', icon='icon ion-plus', href='#/tab/add')
        ion-nav-view(name='add-tab')
